html {
  font-family: sans-serif;
}
header {
  background: lightgrey;
}

hr {
  height: 2px;
  border-width: 0;
  color: solid black;
  background-color: black;
  margin-bottom: 40px;
}

button {
  margin: 10px;
  position: relative;
  bottom: 5px;
}

container {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

h1 {
  color: black;
  position: relative;
  top: 50px;
}
section {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
